@charset "utf-8";

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* CSS Document */

body,
td,
th,
p{
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, 
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 15px;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
  display: block;
  width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 4em 0;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  line-height: 5em;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
  font-family: "Merienda";
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: bolder;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 100%;
  min-height: 400px;
  width: 100%;
  background-color: #ccc;
  position: relative; 
  outline: none;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #252831;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0 20px;
  display: block;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
  display: block;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0.5em;
  min-height: 380px;
  padding: 1em;
  text-align: left;
  width: calc(100% - 2 * 1.5em - 2px);
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0 0 5px;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #252831;
  border-radius: 10px;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


#restaurant-img-container {
  display: flex;
  flex-direction: column;
}
button.fas.fa-heart {
  background-color: white;
  width: 44px;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  margin-top: 6px;
  border: 1px solid #999;
  cursor: pointer;

}

button.fas.fa-heart:hover {
  color: #fff;
    background-color: #252831;
}

button.fas.fa-heart.active {
    color: #ff0016;
    background-color: #252831;
    font-size: : x-large;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  /*
  position: fixed;
  top: 0;
  */
  width: 100%;
  /*z-index: 1000;*/
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  width: 100%;
  height: 400px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  /*
  bottom: 0;
  position: absolute;
  */
  width: 100%;
}

#restaurant-name {
	color: #b7410e;
    font-family: Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  border-top-left-radius: 20px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	/*width: 90%;*/
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0.5em;
  width: calc(100% - 1em);
}

/*
#restaurant-container {
	
}
*/
#reviews-container {
  padding-top: 1em;
	border-top: 1px solid #fff;
	margin: 15px 0;
}


#reviews-container h2 {
	color: #b7410e;
	letter-spacing: 1px;
    padding-left: 10px;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.skip-map {
	position: absolute;
	top: -40px;
	left: 0;
	background: #b7410e !important;
	color: white !important;
	padding: 0.5em;
	z-index: 100;
	transition: all 0.5s;
}

.skip-map:focus {
	top: 0;
}
/**===========user defined styles=====**/
.stars-rating {
  font-size: 17px;
  color: #b7410e;
}
.reviews-list li {
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	width: 100%;
}

.reviews-list li p {
}

.restaurant-hours td {
	color: #666;
}

.header-review {
	background-color: #252831;
	padding: 1em;
	color: #fff;
	border-radius: 20px 0 0 0;
}

.date-review {
	float: right;
	color:  #dcdcdc;
}

.review-body {
	background-color: #fff;
	padding: 1em;
	border-radius: 0 0 20px 0;
}

.name-review {
	font-weight: 600;
	letter-spacing: 2px;
}
.review-title {
	padding-left: 10px;
    color: #b7410e;
    letter-spacing: 2px;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

#restaurant-hours {
  width: 100%;
  letter-spacing: 2px;
  border-collapse: collapse;
}

#restaurant-hours td {
  color: #666;
  border-bottom: thin solid #252831;
}

#restaurant-hours td:first-of-type {
  font-weight: bold;
}

#restaurant-hours tr:first-of-type td {
  border-top: thin solid #252831;
}

:focus {
  background-color: #01447e !important;
  color: #fff !important;
  box-shadow: 0 0 10px red;
}

@media screen and (max-width: 450px) {
  nav h1 a {
    letter-spacing: 0.2em;
  }

  #reviews-list li p.rating,
  #reviews-list li p.date {
    line-height: 1em;
    font-size: 1em;
    width: calc((100% - 2 * 1em) / 2);
    min-width: 160px;
  }
}



/* ====================== Review Form james====================== */
#modal {
  /* fix exactly center: https://css-tricks.com/considerations-styling-modal/ */
  /* begin css tricks */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* end css tricks */
  z-index: 3;
  display: flex;
  flex-direction: column;
  border: 1px solid #666;
  border-radius: 10px;
  opacity: 0;
  transition: all .3s;
  overflow: hidden;
  background-color: #eee;
  display: none;
}
#modal.show {
  opacity: 1;
  display: flex
}
.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2; /* places the modalOverlay between main page and modal dialog */
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
.modal-overlay.show {
  display: block;
  opacity: 0.5;  
}
#modal .close-btn {
  align-self: flex-end;
  font-size: 1.4em;
  margin: 8px 8px 0;
  padding: 0 8px;
  cursor: pointer;
}
form {
  max-width: 900px;
  padding: 0 20px 20px 20px;
}
input, select, .rate, textarea, button {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px #e1e1e1;
  font-size: 16px;
  padding: 8px;
}
input[type="radio"] {
  box-shadow: none;
}
button {
  min-width: 48px;
  min-height: 48px;
}
button:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
button#review-add-btn, 
button.close-btn, 
button#submit-review-btn {
  min-height: 40px;
}
button#submit-review-btn {
  font-weight: bold;
  cursor: pointer;
  padding: 0 16px;
}

.fieldset {
  margin-top: 20px;
}
.right {
  align-self: flex-end;
}
#review-form-container {
  width: 100%;
  padding: 0 20px 26px;
  color: #333;
  overflow-y: auto;
}
#review-form-container h2 {
  margin: 0 0 0 6px;
}
#review-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
#review-form label, #review-form input {
  display: block;
}
#review-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#review-form .rate label, #review-form .rate input,
#review-form .rate1 label, #review-form .rate1 input {
  display: inline-block;
}
/* Modified from: https://codepen.io/tammykimkim/pen/yegZRw */
.rate {
  height: 36px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}
#review-form .rate > label {
  margin-bottom: 0;
  margin-top: -5px;
  height: 30px;
}
.rate:not(:checked) > input {
  top: -9999px;
  margin-left: -24px;
  width: 20px;
  padding-right: 14px;
  z-index: -10;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label::before {
  content: '★ ';
  position: relative;
  top: -10px;
  left: 2px;
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate > input:checked:focus + label, .rate > input:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#submit-review {
  align-self: flex-end;
}
/* modal and review button styling from james -temp*/

#reviews-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#reviews-container .review-add-btn {
  padding: 0 8px;
  font-size: 1.6em;
  cursor: pointer;
}
#modal {
  /* begin css tricks */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* end css tricks */
  z-index: -10;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  border: 1px solid #666;
  border-radius: 10px;
  opacity: 0;
  transition: all .3s;
  overflow: hidden;
  background-color: #eee;
}
#modal.show {
  opacity: 1;
  z-index: 10;
}
#modal .close-btn {
  align-self: flex-end;
  font-size: 1.6em;
  margin: 8px;
  padding: 0 8px;
  cursor: pointer;
}
#review-form {
  width: 100%;
  padding: 20px 26px;
  color: #333;
  overflow-y: auto;
}










@media screen and (min-width: 600px) {
  #restaurants-list li {
    width: calc((100% - 2 * (3em + 4px)) / 2);
  }

  .filter-options h2 {
    text-align: right;
  }

  .filter-options select,
  .filter-options h2 {
    width: calc((100% - 3 * 40px) / 3);
  }

  #reviews-list li {
    margin: 0.5em;
    width: calc((100% - 2 * (2em + 4px) - 2em) / 2);
  }

  #maincontent {
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  #restaurant-container,
  .inside #map-container {
    width: calc((100% - 2em) / 2);
  }

  .inside #map-container {
    order: 1;
    flex: 1 1 auto;
    align-content: stretch;
    height: auto;
  }

  .inside #map {
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }

  #reviews-container {
    order: 2;
  }
}

@media screen and (min-width: 900px) {
  #restaurants-list li {
    width: calc((100% - 3 * (3em + 4px)) / 3);
  }

  #reviews-list li {
    margin: 0.5em;
    width: calc((100% - 40px) / 3);
	/*last-of-type: */
  }
}

@media screen and (min-width: 1280px) {
  nav h1 a {
    font-size: 18pt;
  }

  #maincontent {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #444;
  }
}